<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Contact!</h2>
            <a href="/contact/create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>
                Tambah</a>
            <% if (msg.length != 0) { %>
            <div class="alert alert-success mt-3"><%= msg %></div>
            <% } %>
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (contacts.length === 0) { %>
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-danger" role="alert">
                                Data contact masih kosong!
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <% contacts.forEach((contact, i) => { i++ %>
                    <tr>
                        <th scope="row"><%= i %></th>
                        <td><%= contact.nama %></td>
                        <td><%= contact.email %></td>
                        <td>
                            <a href="/contact/<%= contact.nama %>" class="btn btn-info "><i
                                    class="bi bi-info-circle"></i>
                            </a>
                            <a href="/contact/edit/<%= contact.nama %>" class="btn btn-warning "><i
                                    class="bi bi-pencil-square"></i></a>
                            <form action="/contact?_method=DELETE" method="post" class="d-inline">
                                <input type="hidden" name="nama" value="<%= contact.nama %>">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Apakah anda yakin menghapus data <%= contact.nama %> ?')"><i
                                        class="bi bi-trash-fill"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>